/* GameMenu.css */
/* GameMenu.css */
.CndJbutton {
    width: 150px;
    height: 70px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 20px;
    color: #26ffcb;
    transition: background 0.2s ease; /* Add a transition for a smoother effect */
  }
  
  .CndJbutton:hover {
    background: #308b9e; /* Brightened color on hover */
  }
  
  .GameMenuTitle {
    color: white; /* Set the title color to white */
  }
  